/*Header*/
a,
p,
li {
  color: #1c1f22;
}
.heading {
  text-align: center;
  background-color: #8e9aaf;
}
.heading-title {
  padding: 2rem;
}
.columns {
  margin-top: 1rem;
}
.media {
  background-color: #8e9aaf;
  padding: 1rem;
}

.title {
  color: #cbc0d3;
}

.subtitle {
  color: #efd3d7;
}
li {
  list-style-type: none;
  padding-left: 3rem;
}
.content {
  padding-bottom: 1rem;
}
.card-content {
  padding: 0;
}
.card {
  padding: 0;
  margin: 1rem;
}
